.menu{
    width: 100%;
}
.menu table{
    width: 100%;
    border-collapse: collapse;
}
.menu .btn:hover{
    background-color: #a300cc;
}
.menu td{
    background-color: #7a0099;
    font-family: "Arial", "微軟正黑體";
    padding: 10px;
    color: white;
    text-align: center;
    border: 0px;
}
.menu a{
    /*padding: 10px;*/
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ffffff;
    text-decoration: white underline;
}